<a href="https://colab.research.google.com/github/Sjing2/SJ_project/blob/master/%5B%EB%A7%88%EC%BC%80%ED%8C%85%20%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%5D%20%EC%8B%9C%EC%9E%A5%20%EB%B6%84%EC%84%9D%EC%9D%84%20%EC%9C%84%ED%95%9C%20%ED%85%8D%EC%8A%A4%ED%8A%B8%20%EB%B0%8F%20%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0%20%EB%A7%88%EC%9D%B4%EB%8B%9D%20%EA%B8%B0%EB%B0%98%20%EC%9D%B8%EC%8A%A4%ED%83%80%EA%B7%B8%EB%9E%A8%20%EC%82%AC%EC%9A%A9%EC%9E%90%20%ED%94%84%EB%A1%9C%ED%8C%8C%EC%9D%BC%EB%A7%81/8.%5B%EC%A0%84%EC%B2%98%EB%A6%AC%5D%20Delete%20Over%201000%20%EC%9C%A0%EB%8B%88%ED%81%AC%EC%95%84%EC%9D%B4%EB%94%94%ED%99%95%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/인스타그램_프로파일링/Post/Delete(foreign, over1000)/cc_delete_over_1000.csv', index_col =[0])

In [ ]:
df

         insta_id  ...                                          next_page
0       jjjjy_o.o  ...  https://www.instagram.com/graphql/query/?query...
1       jjjjy_o.o  ...  https://www.instagram.com/graphql/query/?query...
2       jjjjy_o.o  ...  https://www.instagram.com/graphql/query/?query...
3       jjjjy_o.o  ...  https://www.instagram.com/graphql/query/?query...
4       jjjjy_o.o  ...  https://www.instagram.com/graphql/query/?query...
...           ...  ...                                                ...
24664  heeboulder  ...  https://www.instagram.com/graphql/query/?query...
24665  heeboulder  ...  https://www.instagram.com/graphql/query/?query...
24666  heeboulder  ...  https://www.instagram.com/graphql/query/?query...
24667  heeboulder  ...  https://www.instagram.com/graphql/query/?query...
24668  heeboulder  ...  https://www.instagram.com/graphql/query/?query...

[24669 rows x 13 columns]

In [ ]:
a = df['insta_id']
a

0         jjjjy_o.o
1         jjjjy_o.o
2         jjjjy_o.o
3         jjjjy_o.o
4         jjjjy_o.o
            ...
24664    heeboulder
24665    heeboulder
24666    heeboulder
24667    heeboulder
24668    heeboulder
Name: insta_id, Length: 24669, dtype: object

In [ ]:
b = pd.unique(a)
b

array(['jjjjy_o.o', 'r_miyaaa', 'dmdmdmd_ec', ..., 'palette_room_daegu',
       'remaxcentral.official', 'heeboulder'], dtype=object)

In [ ]:
len(b)

1210

In [ ]:
c = df['inner_id']
c

0            1582899
1            1582899
2            1582899
3            1582899
4            1582899
            ...
24664    39901859586
24665    39901859586
24666    39901859586
24667    39901859586
24668    39901859586
Name: inner_id, Length: 24669, dtype: int64

In [ ]:
d = pd.unique(c)
d

array([    1582899,     2797872,     2648672, ..., 39521089229,
       39718579061, 39901859586])

In [ ]:
len(d)

1210